In [18]:
import pandas as pd
import numpy as np

In [90]:
filename1='ccn.com [all_currencies] [no_time].csv'
filename2='coindesk.com [all_currencies] [time].csv'
filename3='cointelegraph.com [only_btc] [no_time].csv'
filename4='mix.csv [only_btc] [time].csv'

In [91]:
df_ccn=pd.read_csv(filename1)
df_coindesk=pd.read_csv(filename2)
df_cointelegraph=pd.read_csv(filename3)
df_mix=pd.read_csv(filename4)

# Data cleaning: df_ccn

In [3]:
df_ccn.head()

   Unnamed: 0        date                                              title
0           0  11/30/2017  ‘A Vehicle to Perpetrate Fraud’: Goldman CEO B...
1           1  11/30/2017  Hedge Fund Platforms Reject Bitcoin Funds Fear...
2           2  11/30/2017  Bitcoin Cash Litecoin Ethereum Price Down by 2...
3           3  11/30/2017           Ripple XRP: Poised for Another Breakout?
4           4  11/30/2017  Bitcoin Price Declines to $9200; Factors For A...

In [38]:
# Get only the necessary columns
date = df_ccn['date'].values
headline = df_ccn['title'].values

data = {'date': date, 'headline': headline}
df_ccn_new = pd.DataFrame(data=data)
df_ccn_new.head()

         date                                           headline
0  11/30/2017  ‘A Vehicle to Perpetrate Fraud’: Goldman CEO B...
1  11/30/2017  Hedge Fund Platforms Reject Bitcoin Funds Fear...
2  11/30/2017  Bitcoin Cash Litecoin Ethereum Price Down by 2...
3  11/30/2017           Ripple XRP: Poised for Another Breakout?
4  11/30/2017  Bitcoin Price Declines to $9200; Factors For A...

In [55]:
# Change the date format
df_ccn_new['date'] = pd.to_datetime(df_ccn_new['date'])
df_ccn_new.head()

        date                                           headline
0 2017-11-30  ‘A Vehicle to Perpetrate Fraud’: Goldman CEO B...
1 2017-11-30  Hedge Fund Platforms Reject Bitcoin Funds Fear...
2 2017-11-30  Bitcoin Cash Litecoin Ethereum Price Down by 2...
3 2017-11-30           Ripple XRP: Poised for Another Breakout?
4 2017-11-30  Bitcoin Price Declines to $9200; Factors For A...

In [44]:
# Write the dataframe to a csv file
df_ccn_new.to_csv(filename1, index=False)

# Data cleaning: df_coindesk

In [69]:
df_coindesk.head()

,Unnamed: 0,date,source,title
0,168,2018-03-06 23:00:05,coindesk1.com,It's unclear how Twitter identifies which acco...
1,169,2018-03-06 21:45:23,coindesk1.com,Wyoming's State Senate has cleared a bill that...
2,170,2018-03-06 21:05:07,coindesk1.com,Bitconnect promoter Trevon James confirmed Mon...
3,171,2018-03-06 19:55:38,coindesk1.com,The Chamber of Digital Commerce's D.C. Blockch...
4,172,2018-03-06 18:45:39,coindesk1.com,"North Carolina deems passive mining pool ""shar..."

In [57]:
# Change the date format
df_coindesk['date'] = pd.to_datetime(df_coindesk['date'])

In [78]:
# Split the date and time
datetime = df_coindesk['date']
date = [dt.date() for dt in datetime]
time = [dt.time() for dt in datetime]

In [77]:
# Get only the necessary columns
headline = df_coindesk['title']

df_coindesk_new = pd.DataFrame({'datetime': datetime,
                        'date': date,
                        'time': time,
                        'headline': headline})
df_coindesk_new['source'] = 'coindesk.com'
df_coindesk_new.head()

,datetime,date,time,headline,source
0,2018-03-06 23:00:05,2018-03-06,23:00:05,It's unclear how Twitter identifies which acco...,coindesk.com
1,2018-03-06 21:45:23,2018-03-06,21:45:23,Wyoming's State Senate has cleared a bill that...,coindesk.com
2,2018-03-06 21:05:07,2018-03-06,21:05:07,Bitconnect promoter Trevon James confirmed Mon...,coindesk.com
3,2018-03-06 19:55:38,2018-03-06,19:55:38,The Chamber of Digital Commerce's D.C. Blockch...,coindesk.com
4,2018-03-06 18:45:39,2018-03-06,18:45:39,"North Carolina deems passive mining pool ""shar...",coindesk.com

In [79]:
# Write the dataframe to a csv file
df_coindesk_new.to_csv(filename2, index=False)

# Data cleaning: df_coindesk

In [80]:
df_cointelegraph.head()

,Date,Title,Summary,Body,Source
0,2020-01-23,Has Quebec Missed the Ship for Attracting Cryp...,An uncertain regulatory regime regarding power...,The results of a 300 megawatt (MW) energy allo...,https://cointelegraph.com/news/has-quebec-miss...
1,2020-01-23,"Peter Schiff Bungled Wallet Password, Solving ...",Notorious crypto skeptic Peter Schiff admitted...,Famous crypto skeptic and gold bug Peter Schif...,https://cointelegraph.com/news/peter-schiff-bu...
2,2020-01-23,Bitcoin Price Slides to $8.5K as 200MA Resista...,Bitcoin traders wave goodbye to $9K as price a...,"Bitcoin (BTC) dipped below $8,500 on Jan. 23 a...",https://cointelegraph.com/news/bitcoin-price-s...
3,2020-01-23,The Unstoppable Trajectory: Stablecoins Are Ev...,"Neither fiat nor crypto, but a mixture of both...",Stablecoins may represent crypto’s best chance...,https://cointelegraph.com/news/the-unstoppable...
4,2020-01-23,The Evolution of Bitcoin's Technology Stack,"For more than 10 years already, Bitcoin’s inno...","Over the last 10 years, the Bitcoin ecosystem ...",https://cointelegraph.com/news/the-evolution-o...

In [84]:
# Change the date format
df_cointelegraph['Date'] = pd.to_datetime(df_cointelegraph['Date'])

In [86]:
# Get only the necessary columns
date = df_cointelegraph['Date']
headline = df_cointelegraph['Title']
source = df_cointelegraph['Source']

df_cointelegraph_new = pd.DataFrame({'date': date,
                                    'headline': headline,
                                    'souce': source})

In [87]:
# Write the dataframe to a csv file
df_cointelegraph_new.to_csv(filename3, index=False)

# Data cleaning: df_mix

In [92]:
df_mix.head()

,Date,Title,Source
0,2020-03-16 19:00,"Here’s Why Bitcoin Didn’t Bottom at $3,800 Acc...",https://www.newsbtc.com/2020/03/15/heres-why-b...
1,2020-03-16 16:20,"Bitcoin Sinks to $4,390 as Dow’s 1,000-Point D...",https://www.newsbtc.com/2020/03/16/bitcoin-sin...
2,2020-03-16 16:00,Bitcoin could soon be in the museum of illusio...,https://eng.ambcrypto.com/bitcoin-could-soon-b...
3,2020-03-16 14:00,Bitcoin Price Analysis: BTC’s 3-Day Consolidat...,https://cryptopotato.com/bitcoin-price-analysi...
4,2020-03-16 13:30,‘Extreme Fear’ Grips Markets Despite Oversold ...,https://cointelegraph.com/news/extreme-fear-gr...

In [94]:
# Change the date format
df_mix['Date'] = pd.to_datetime(df_mix['Date'])

In [96]:
# Split the date and time
datetime = df_mix['Date']
date = [dt.date() for dt in datetime]
time = [dt.time() for dt in datetime]

In [101]:
# Get only the necessary columns
headline = df_mix['Title']
source = df_mix['Source']

df_mix = pd.DataFrame({'datetime': datetime,
                        'date': date,
                        'time': time,
                        'headline': headline,
                        'source': source})
df_mix.head()

,datetime,date,time,headline,source
0,2020-03-16 19:00:00,2020-03-16,19:00:00,"Here’s Why Bitcoin Didn’t Bottom at $3,800 Acc...",https://www.newsbtc.com/2020/03/15/heres-why-b...
1,2020-03-16 16:20:00,2020-03-16,16:20:00,"Bitcoin Sinks to $4,390 as Dow’s 1,000-Point D...",https://www.newsbtc.com/2020/03/16/bitcoin-sin...
2,2020-03-16 16:00:00,2020-03-16,16:00:00,Bitcoin could soon be in the museum of illusio...,https://eng.ambcrypto.com/bitcoin-could-soon-b...
3,2020-03-16 14:00:00,2020-03-16,14:00:00,Bitcoin Price Analysis: BTC’s 3-Day Consolidat...,https://cryptopotato.com/bitcoin-price-analysi...
4,2020-03-16 13:30:00,2020-03-16,13:30:00,‘Extreme Fear’ Grips Markets Despite Oversold ...,https://cointelegraph.com/news/extreme-fear-gr...

In [102]:
# Write the dataframe to a csv file
df_mix.to_csv(filename4, index=False)